.contact-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: absolute;
    top: 80px;
    right: 19px;
    left: auto;
    width: 432px;
    height: auto;
    border-radius: 2px;
    overflow: hidden;
}
.contact-card-media {
    background-image: url(./img/james-connors-big.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        margin-top: 56.25%;
        display: block;
        content: "";
    }
}
.contact-card-media-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.contact-card-body{
    padding: 24px;
    &>.list-group{
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.contact-card-name {
    position: absolute;
    bottom: 0;
    left: 24px;
    color: #fff;
    font-size: 35px;
    font-weight: 400;
  }
  .contact-card-actions {
    color: #fff;
    position: absolute;
    padding: 0;
  }
  .contact-card-back {
    top: 12px;
    left: 8px;
  }
  .contact-card-edit {
    top: 12px;
    right: 48px;
  }
  .contact-card-more {
    top: 12px;
    right: 8px;
  }
